/* mbed Microcontroller Library
 * Copyright (c) 2016 ARM Limited
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#include "flash_api.h"
#include "flash_data.h"
#include "critical.h"

// This file is automagically generated

// flash algo are in RAM
static uint32_t FLASH_ALGO[] = {
    {{algo.format_algo_data(4, 8, "c")}}
};

static const flash_algo_t flash_algo_config = {
    .init = (uint32_t)&FLASH_ALGO + {{'0x%x' % algo.symbols['Init']}},
    .uninit = (uint32_t)&FLASH_ALGO + {{'0x%x' % algo.symbols['UnInit']}},
    .erase_sector = (uint32_t)&FLASH_ALGO + {{'0x%x' % algo.symbols['EraseSector']}},
    .program_page = (uint32_t)&FLASH_ALGO + {{'0x%x' % algo.symbols['ProgramPage']}},
    .static_base = (uint32_t)&FLASH_ALGO + {{'0x%x' % algo.rw_start}},
    .algo_blob = FLASH_ALGO,
};

static const sector_info_t sectors_info[] = {
{%- for start, size  in algo.sector_sizes %}
    {{ "{0x%x, 0x%x}" % (start, size) }}, 
{%- endfor %}
};

static const flash_target_config_t flash_target_config = {
    .page_size  = {{'0x%x' % algo.page_size}},
    .flash_start = {{'0x%x' % algo.flash_start}},
    .flash_size = {{'0x%x' % algo.flash_size}},
    .sectors = sectors_info,
};

typedef int32_t (*flash_algo_jump_t)(args_t*);

static uint32_t jump_to_flash_algo[] = {
    0x4230E92D, 0xF8D06945, 0x68C39010, 0x68416882, 0x47A86800, 0x4230E8BD, 0x4770
};

static uint32_t get_sector_index(flash_t *obj, uint32_t address)
{
    // check where address belongs to
    size_t sector_index = 0;
    size_t sectors_count = sizeof(obj->target_config->sectors) / sizeof(sector_info_t);
    for (; sector_index < sectors_count; sector_index++) {
        if ((address > obj->target_config->sectors[sector_index].start) && 
            (address < (obj->target_config->sectors[sector_index].start +obj->target_config->sectors[sector_index].size))) {
            break;
        }
    }
    return sector_index;
}

int32_t flash_init(flash_t *obj)
{
    core_util_critical_section_enter();

    obj->flash_algo = &flash_algo_config;
    obj->target_config = &flash_target_config;

    args_t arguments = {
        .r0 = 0,
        .r1 = 0,
        .r2 = 0,
        .r3 = 0,
        .r9 = obj->flash_algo->static_base,
        .pc = obj->flash_algo->init
    };
    int32_t ret = ((flash_algo_jump_t)(((uint32_t)&jump_to_flash_algo) | 1))(&arguments);

    core_util_critical_section_exit();
    return ret;
}

int32_t flash_free(flash_t *obj)
{
    // uninit is not called here as it deinitializes MCU
    return 0;
}


int32_t flash_erase_sector(flash_t *obj, uint32_t address)
{
    size_t sector_index = get_sector_index(obj, address);

    // erase sector boundary
    if ((address % obj->target_config->sectors[sector_index].size) != 0) {
        return -1;
    }

    core_util_critical_section_enter();

    args_t arguments = {
        .r0 = address,
        .r1 = 0,
        .r2 = 0,
        .r3 = 0,
        .r9 = obj->flash_algo->static_base,
        .pc = obj->flash_algo->erase_sector
    };
    int32_t ret = ((flash_algo_jump_t)(((uint32_t)&jump_to_flash_algo) | 1))(&arguments);

    core_util_critical_section_exit();
    return ret;
}


int32_t flash_program_page(flash_t *obj, uint32_t address, const page_t *page)
{ 
    // write size boundary
    if ((address % obj->target_config->page_size) != 0) {
        return -1; // TODO return types
    }
    //  size multiple of sectors
    if ((page->data_count < obj->target_config->page_size) || (page->data_count % obj->target_config->page_size != 0)) {
        return -1;
    }

    uint32_t sector_index = get_sector_index(obj, address);
    // should not cross sector boundary
    if (((address % obj->target_config->sectors[sector_index].size) + page->data_count) > obj->target_config->sectors[sector_index].size) {
        return -1;
    }

    core_util_critical_section_enter();
    args_t arguments = {
        .r0 = address,
        .r1 = page->data_count,
        .r2 = page->data,
        .r3 = 0,
        .r9 = obj->flash_algo->static_base,
        .pc = obj->flash_algo->program_page
    };
    int32_t ret = ((flash_algo_jump_t)(((uint32_t)&jump_to_flash_algo) | 1))(&arguments);

    core_util_critical_section_exit();
    return ret;
}
